.the-header {
  position: relative;
  padding: 100px 20px;
  height: 60px;
}

#header-background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
  z-index: -100;
  top: 0;
  left: 0;
}

.profile-picture {
  display: block;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
}

.posts-container {
  border: 3px solid rgb(155, 155, 155);
  border-radius:12px;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.posts-container table {
  border-collapse: collapse;
}

.posts-container table td {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.posts-container table:first-child tr:first-child td:first-child {
  padding-top: 50px;
}

.posts-container table tr:last-child td:last-child {
  padding-bottom: 50px;
}

.posts-container a {
  text-decoration: none;
}

.post-title {
  padding-right: 100px;
}
.post-date {
  font-size: 17px;
  font-style: italic;
  color: rgb(114, 114, 114);
}
